/* Buttons */
.btn {
  background-color: var(--style-clr-3);
  border: none;
  color: var(--style-clr-5);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  height: 2rem;
  padding: 0 1rem;
}

.main_btns {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
}

.search_btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  right: -0.5rem;
  border-radius: 25px;
  border: none;
  padding: 0.5rem;
  border: none;
  background-color: var(--style-clr-4);
}

#resetWeeklyRecipe {
  background-color: var(--style-clr-1);
  color: var(--style-clr-5);
  border-color: var(--style-clr-1);
}

#resetWeeklyRecipe:hover {
  background-color: var(--style-clr-2);
  box-shadow: 1px 1px 6px var(--style-clr-3);
}

/* Below has not been adjusted yet */
/* Disabled Button Styles */
.btn-disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
  background-color: #6c757d !important;
}

.btn-disabled:hover {
  background-color: #6c757d !important;
}