/* Indivual recipe HERO card */
/* This basic styling must be changed. Used to visualize the page only */
.recipeHero {
  width: 100%;
  height: 100vh;
  border: solid 1px;
  background-color: rgb(224, 206, 224);
}
.recipeMainImage {
  width: 70%;
}
.recipeMainDetails {
  height: 80%;
  border: 1px solid;
  background-color: rgb(101, 75, 75);
}

.recipeMainHighlights {
  min-height: 40%;
  border: 1px solid;
}
.recipeMainInstruct {
  border: 1px solid red;
}
.recipeBtnCtn {
  min-height: 10%;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
/*  */
.recipeMainTitle {
  border: 1px solid;
}
.ingredientList {
  /* the ingredient container */
  border: 2px solid rgb(223, 115, 133);
  min-height: 50px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.1rem;
  margin: 0.2rem;
}
.recipeBasicInfo {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid;
}
.recipeMainInstructions {
  border: 1px solid brown;
  background-color: rgb(246, 248, 211);
  height: 100%;
}
/* .btn {} */

.instructions-list {
  /* individual items */
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
}
.ingredients-list {
  /* individual items */
  text-align: left;
  border: 1px solid green;
}
