:root {
  --style-clr-1: #212a31;
  --style-clr-2: #2e3944;
  --style-clr-3: #124e66;
  --style-clr-4: #748d92;
  --style-clr-5: #d3d9d4;
  --style-clr-6: #f2eded;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--style-clr-5);
  text-align: center;
}

#header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

#menu_icon {
  /* disabled for now until a menu feature is added */
  width: 1.7rem;
}

#title {
  font-size: 1.5rem;
  font-weight: 800;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 5;
  padding-top: 1rem;
}

.search_wrapper {
  justify-self: center;
  position: relative;
  width: 90%;
  box-sizing: content-box;
  margin-bottom: 1rem;
}

.search_input {
  text-align: left;
  width: 100%;
  height: 2rem;
  background-color: var(--style-clr-5);
  opacity: 50%;
  border-radius: 50px;
  border: solid 1px var(--style-clr-4);
  padding: 0 0 0 0.5rem;
}

/* The below is not yet adjusted : I need to figure where this is and what it does*/
/* Disabled Nutrition Input Styles */
.nutrition-disabled {
  background-color: #f8f9fa !important;
  color: #6c757d !important;
  cursor: not-allowed !important;
  border-color: #dee2e6 !important;
}

.nutrition-disabled:focus {
  outline: none !important;
  box-shadow: none !important;
}
