/* The main is the container context */
main,
.recipeHero {
  container: card / inline-size;
}

/* Queries: */
@container card (max-width: 500px) {
  /* MainScreen Recipes */
  #recipe_wrapper {
    display: block;
  }
  .recipe_item {
    width: 90%;
    margin-bottom: 1rem;
    background-color: var(--style-clr-4);
  }
  .recipe_item > h3 {
    background-color: var(--style-clr-4);
    margin: 1rem;
    justify-self: center;
  }
  .recipe_item > img {
    object-fit: none;
  }
  .btn {
    font-size: 0.8rem;
  }

  /* Selected recipe responsive design */
  .recipeMainImage {
    max-width: 80%;
    object-fit: none;
  }
  .recipeMainHighlights {
    /* Decide on page layout for different screen on paper first */
    max-width: 80%;
    box-sizing: content-box;
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr); */
  }
}

@container card (width > 768px) {
  #recipe_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
